@import url('https://fonts.googleapis.com/css?family=Poppins');

html{
    font-family: 'Poppins', sans-serif;
 	letter-spacing: 0.05em;
 	height: 100%;
}

body{
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

a{
	text-decoration: none;
	color: black;
}
a:hover{
	color: gray;
}

p{
	margin:0.5em;
}


.top-header{
    text-align: center;
    letter-spacing: 0.2em;

}

#name-head{
	font-size: 48px;
	margin: 0;
}

#nav-head{
	font-size: 24px;
	margin: 0;
}

#content-bucket{
	text-align: center;
	margin-top: 2em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.index-bucket{
	font-size: 18px;
}

.about-img-bucket{
	overflow: hidden;
	margin: 1em;
}

#about-img-text{
	text-align: center;
	font-size: 14px;
}

.about-text-bucket{
	font-size: 18px;
	text-align: left;
	margin: 1em;
}

.cv-bucket{
	font-size: 18px;
}

.contact-field{
	font-size: 18px;
	margin: 1em;
}

.footer{
	text-align: center;
	font-size: 12px;
	display: flex;
	flex-direction: column;
	margin-top: auto;
	margin-bottom: 2em;
}
.footer-item{
	margin: 0.25em;
}

