@import url('https://fonts.googleapis.com/css?family=Karla');

html{
    font-family: 'Karla', sans-serif;
}

a{
	text-decoration: none;
	color: black;
}
a:hover{
	color: gray;
}

.top-header{
    text-align: center;
}

#name-head{
	margin-top: 30px;
	margin-bottom: 10px;
	font-size: 48px;
}

#nav-head{
	margin-top: 0px;
	margin-bottom: 20px;
	font-size: 24px;
}

.content-bucket{
	text-align: center;
	margin-top: 40px;
	margin-bottom: 100px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.index-bucket{
	font-size: 18px;
}

.about-img-bucket{
	overflow: hidden;
	margin: 10px;
}

#about-img-text{
	text-align: center;
	font-size: 14px;
}

.about-text-bucket{
	font-size: 18px;
	text-align: left;
	margin: 10px;
}

.cv-bucket{
	font-size: 18px;
}

.contact-field{
	font-size: 18px;
}

.footer{
	text-align: center;
	font-size: 12px;
	margin-top: 100px;
}

