@import url('https://fonts.googleapis.com/css?family=Karla');

html{
    font-family: 'Karla', sans-serif;
}

a{
	text-decoration: none;
	color: black;
}
a:hover{
	color: gray;
}

.top-header{
    text-align: center;
}

#name-head{
	margin-top: 30px;
	margin-bottom: 10px;
	font-size: 48px;
}

#nav-head{
	margin-top: 0px;
	margin-bottom: 20px;
	font-size: 24px;
}

.content-bucket{
	text-align: center;
	margin-top: 40px;
}

.contact-bucket{

}
.contact-field{
	font-size: 18px;

}
