{% extends "index.html" %}
{% block content %}
<div class="about-bucket">
	<div class="about-img-bucket">
		<div class="about-img-container">
			<img src="/static/img/photo3.jpg" id="about-img" alt="photo">
			<p id="about-img-text"><i>In Alaska, bolo ties abound...</i></p>
		</div>
	</div>
	<div class="about-text-bucket">
		<p>Hi! I'm currently a Capacity Engineer at Dropbox, where I've worked for about three years.</p>
		<p>I was born and raised in Denver, CO and currently live in San Francisco.</p>
		<p>Outside of work, I like to read, play music, and be outdoors hiking, backpacking, or skiing.</p>
	</div>
</div>
{% endblock %}