{% extends "index.html" %}
{% block content %}
<div class="about-bucket">
	<div class="about-img-bucket">
		<div class="about-img-container">
			<img src="/static/img/photo3.jpg" id="about-img" alt="photo">
			<p id="about-img-text"><i>In Alaska, bolo ties abound...</i></p>
		</div>
	</div>
	<div class="about-text-bucket">
		<p>Hi! I'm currently a PhD student in Cognitive Psychology at UC San Diego doing Bayesian cognitive modeling.</p>
                <p>Prior to that I was an SRE/Capacity Engineer at Dropbox for about three years.</p>
		<p>I studied Symbolic Systems at Stanford (BS '13, MS '14); Symbolic Systems is not in fact a book by Dan Brown.</p>
		<p>Outside of work, I like to read, play music, and be outdoors hiking, backpacking, or skiing.</p>
	</div>
</div>
{% endblock %}
