{% extends "index.html" %}
{% block content %}
<div class="contact-bucket">
	<div class="contact-field" id="linkedin-contact"><a href="https://www.linkedin.com/in/erik-brockbank"><b>linkedin</b></a></div>
	<div class="contact-field" id="github-contact"><a href="https://github.com/erik-brockbank"><b>github</b></a></div>
	<div class="contact-field" id="facebook-contact"><a href="https://www.facebook.com/erik.brockbank"><b>facebook</b></a></div>
	<div class="contact-field" id="email-contact"><b>email: </b> erik.brockbank "at" gmail.com</div>
</div>
{% endblock %}