{% extends "index.html" %}
{% block content %}
<div class="contact-bucket">
	<p>
		<p class="contact-field">
			<img src="/static/img/icon_scholar.png" class="contact-img" alt="photo" style="height: 25px;">
			<a id="scholar-contact" href="https://scholar.google.com/citations?user=N2ZY9xsAAAAJ"><u>google scholar</u></a>
		</p>
	</p>
	<p>
		<p class="contact-field">
			<img src="/static/img/icon_linkedin.png" class="contact-img" alt="photo" style="height: 25px;">
			<a id="linkedin-contact" href="https://www.linkedin.com/in/erik-brockbank"><u>linkedin</u></a>
		</p>
	</p>
	<p>
		<p class="contact-field">
			<img src="/static/img/icon_github.png" class="contact-img" alt="photo" style="height: 25px;">
			<a id="github-contact" href="https://github.com/erik-brockbank"><u>github</u></a>
		</p>
	</p>
	<p>
		<p class="contact-field" id="email-contact">
			<img src="/static/img/icon_email.png" class="contact-img" alt="photo" style="height: 25px;">
			<b>erik.brockbank "at" gmail.com</b>
		</p>
	</p>
</div>
{% endblock %}
