{% extends "index.html" %}
{% block content %}
<div class="contact-bucket">
	<p class="contact-field"><a id="scholar-contact" href="https://scholar.google.com/citations?user=N2ZY9xsAAAAJ"><b>google scholar</b></a></p>
	<p class="contact-field"><a id="linkedin-contact" href="https://www.linkedin.com/in/erik-brockbank"><b>linkedin</b></a></p>
	<p class="contact-field"><a id="github-contact" href="https://github.com/erik-brockbank"><b>github</b></a></p>
	<p class="contact-field" id="email-contact"><b>email: </b> erik.brockbank "at" gmail.com</p>
</div>
{% endblock %}
