<!doctype html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="icon" type="image/png" href="/static/img/tree2.png">
</head>
<header class="top-header">
    <h1 id="name-head">
    	<a href="/">Erik Brockbank</a>
    </h1>
    <h2 id="nav-head">
    {% if page=="about" %}
    	<a href="/about"><u>about</u></a>
    {% else %}
    	<a href="/about">about</a>
    {% endif %}
    	<span> | </span>
   	{% if page=="cv" %}
    	<a href="/cv"><u>cv</u></a>
    {% else %}
    	<a href="/cv">cv</a>
    {% endif %}
    	<span> | </span>
    {% if page=="contact" %}
    	<a href="/contact"><u>contact</u></a>
    {% else %}
    	<a href="/contact">contact</a>
    {% endif %}
    </h2>
</header>
	<div class="content-bucket">
		{% block content %}
		<div class="index-bucket">
			<p>Hello World!</p>
			<p>Eventually this page will have some good ideas. Hopefully.</p>
		</div>
		{% endblock %}
	</div>
<footer class="footer">
	<p><i>This website is a work in progress! Check back for updated content on the home page.</i></p>
	<p><i>Under the hood, it's running with a basic Flask web server and it's hosted on Heroku. The font is Poppins.</i></p>
</footer>
