{% extends "index.html" %}
{% block content %}
<div class="research-bucket">
    <div id="research-header">
        <p>
          Broadly, I'm interested in a diverse set of questions about how children and adults learn and
          reason about the world around them. My work uses behavioral experiments and computational modeling
          techniques from machine learning and artificial intelligence to explore these questions.
        </p>
        <p>
          My doctoral research is focused on how people come to understand rich patterns in other
          people's behavior and develop abstractions that generalize to new settings.
        </p>
        <!--
          <p>
            Below is an overview of my work organized loosely by topic,
            with links to papers, talks, and other fun stuff.
          </p>
        -->
        <p>
          Stay tuned for updated links to papers and talks below!
        </p>
    </div>
</div>
{% endblock %}
