{% extends "index.html" %}
{% block content %}

<div class="teaching-bucket">
    <!-- Teaching -->
    <div id="teaching-header">
        <h1>Teaching</h1>
        <h2>Computational Social Science - Data and Model Programming</h2>
        <div class="teaching-overview">
            <h3>Overview</h3>
            <p>
                In Spring, 2022 I was an instructor for the second-quarter course in the
                Computational Social Science undergraduate core series.
            </p>
            <p>
                <b>This course was a broad overview of modeling principles found in
                data science and computational social science settings.</b>
            </p>
            <h3>Resources</h3>
                <p>
                    <ul>
                        <li>
                            A copy of the original course homepage, with schedule and all lecture materials
                            [<a href="https://erik-brockbank.github.io/ucsd-css-002-sp2022.github.io/">here</a>]
                        </li>
                        <li>
                            The public github repo with all lecture code and datasets
                            [<a href="https://github.com/erik-brockbank/css2_sp22-public">here</a>]
                        </li>
                        <li>
                            The private github repo with problem sets and labs is available upon request
                            (unless the requester seems suspiciously like a UCSD student...)
                        </li>
                        <li>
                            A youtube channel with video recordings of all lectures
                            [<a href="https://youtube.com/playlist?list=PL4OUZgXEKAb82jtxAb1LRxZO8kGnMrPFQ">here</a>]
                        </li>
                        <li>
                            Student evaluations of the course
                            [<a href="/static/docs/evals/CSS 2 Spring 2022 CAPE.pdf">here</a>]
                        </li>
                    </ul>
                </p>
        </div>
    </div>
    <!-- Teaching Assistant -->
    <div id="teaching-header">
        <h1>Teaching Assistant</h1>
        <h3>Course History</h3>
        <!-- TODO make csv of eval results for people to download -->
        <div class="teaching-overview">
            <ul>
                <li>Psychology Research Methods (Fall 2021)
                    <!--[<a href="/static/docs/evals/PSYC 71 Fall 2021 Student Evaluation.pdf">student evaluation</a>] -->
                </li>
                <li>Introduction to Programming for Computational Social Science (Summer 2021)
                    <!-- [<a href="/static/docs/evals/CSS 1 Summer 2021 Student Evaluation.pdf">student evaluation</a>] -->
                    <!-- [<a href="/static/docs/evals/CSS 1 Summer 2021 Instructor Evaluation.pdf">instructor evaluation</a>] -->
                </li>
                <li>Foundations of Cognitive Psychology (Spring 2021)
                    <!-- [<a href="/static/docs/evals/PSYC 3 Spring 2021 Student Evaluation.pdf">student evaluation</a>] -->
                    <!-- [<a href="/static/docs/evals/PSYC 3 Spring 2021 Instructor Evaluation.pdf">instructor evaluation*</a>] -->
                </li>
                <li>Psychology of Parenting (Spring 2020)
                    <!-- [<a href="/static/docs/evals/PSYC 190 Spring 2020 Student Evaluation.pdf">student evaluation</a>] -->
                    <!-- [<a href="/static/docs/evals/PSYC 190 Spring 2020 Instructor Evaluation.pdf">instructor evaluation</a>] -->
                </li>
                <li>Introduction to Psychology (Fall 2019 & Fall 2020)
                    <!-- <br>Student evaluations -->
                        <!-- [<a href="/static/docs/evals/PSYC 1 Fall 2020 Student Evaluation I.pdf">2020*</a>], -->
                        <!-- [<a href="/static/docs/evals/PSYC 1 Fall 2019 Student Evaluation.pdf">2019</a>] -->
                    <!-- <br>Instructor evaluations -->
                        <!-- [<a href="/static/docs/evals/PSYC 1 Fall 2020 Instructor Evaluation.pdf">2020</a>], -->
                        <!-- [<a href="/static/docs/evals/PSYC 1 Fall 2019 Instructor Evaluation.pdf">2019*</a>] -->
                </li>
                <li>Industrial and Organizational Psychology (Summer 2019)
                    <!-- [<a href="/static/docs/evals/PSYC 178 Summer 2019 Student Evaluation.pdf">student evaluation</a>] -->
                    <!-- [<a href="/static/docs/evals/PSYC 178 Summer 2019 Instructor Evaluation.pdf">instructor evaluation</a>] -->
                </li>
                <li>Introduction to Developmental Psychology (Winter 2018-19)
                    <!-- [<a href="/static/docs/evals/PSYC 101 Winter 2018-19 Student Evaluation.pdf">student evaluation</a>] -->
                </li>
            </ul>
        </div>
    </div>

</div>

{% endblock %}
