{% extends "index.html" %}
{% block content %}

<div class="teaching-bucket">
    <!--
        Teaching
        TODO add statement about mentoring Vul Lab undergrads, link to RPS page
    -->
    <div id="teaching-header">
        <h1>Overview</h1>
            <p>
                Teaching people to code, and making coding more accessible to everyone, is something
                I've been passionate about since discovering for myself the thrill&#8212;and the many
                challenges&#8212;of solving problems with code. As a tutor in college, I helped middle
                and high schoolers learn the basics of <em>hello, world</em>. While working as an
                engineer at Dropbox, I volunteered with
                <u><a href="https://devmission.org/">Dev/Mission</a></u>
                to help underserved populations in San Francisco find opportunities in tech. And in
                recent years, I've tried to make teaching and mentoring coding skills a part of my
                graduate school career, in ways big and small. I was an instructor for the UCSD
                <u><a href="https://css.ucsd.edu/">Computational Social Science</a></u> core (CSS 2)
                and a TA for the introductory coding class in the CSS program (CSS 1). For the first
                two years of graduate school, I lead the Psychology <em>Data Science Club</em>, a
                weekly lunch series where graduate students presented on topics and experiences that
                aimed to help other grad students increase their technical and quantitative skills.
                And for the past three years, I've served as the internal <em>Stats Advisor</em> for
                the UCSD Psychology department, a paid role in which I consult with other grad students
                to help debug their R code, plan their analyses, and launch web experiments. My experiences
                guiding others through the infinite ways code can break has also inspired my research;
                a recent line of work with
                <u><a href="https://www.soohyunnamliao.com/">Soohyun Liao</a></u>
                and several members of the UCSD
                <u><a href="https://cogtoolslab.github.io/about.html">cognitive tools lab</a></u>
                explores how to predict student performance in a large online dataset from data science
                and statistics courses throughout the US. Stay tuned for more!
            </p>
        <h1>Teaching</h1>
        <h2>Computational Social Science - Data and Model Programming</h2>
        <div class="teaching-overview">
            <h3>Overview</h3>
            <p>
                In Spring, 2022 I was an instructor for the second-quarter course in the
                UCSD Computational Social Science undergraduate core series.
            </p>
            <p>
                <b>This course was a broad overview of modeling principles found in
                data science and computational social science settings.</b>
            </p>
            <h3>Resources</h3>
                <p>
                    <ul>
                        <li>
                            A youtube channel with video recordings of all lectures
                            [<a href="https://youtube.com/playlist?list=PL4OUZgXEKAb82jtxAb1LRxZO8kGnMrPFQ"><u>here</u></a>]
                        </li>
                        <li>
                            A copy of the original course homepage, with schedule and all lecture materials
                            [<a href="https://erik-brockbank.github.io/ucsd-css-002-sp2022.github.io/"><u>here</u></a>]
                        </li>
                        <li>
                            The public github repo with all lecture code and datasets
                            [<a href="https://github.com/erik-brockbank/css2_sp22-public"><u>here</u></a>]
                        </li>
                        <li>
                            The private github repo with problem sets and labs is available upon request
                            (unless the requester seems suspiciously like a UCSD student...)
                        </li>
                        <li>
                            Student evaluations of the course
                            [<a href="/static/docs/evals/CSS 2 Spring 2022 CAPE.pdf"><u>here</u></a>]
                        </li>
                    </ul>
                </p>
        </div>
    </div>
    <!-- Teaching Assistant -->
    <div id="teaching-header">
        <h1>Teaching Assistant</h1>
        <h3>Course History</h3>
        <div class="teaching-overview">
            <ul>
                <li><b>Psychology Research Methods</b> (Fall 2021, Fall 2022, Winter 2022-23)
                    <br>-> Student evaluations
                        [<a href="/static/docs/evals/PSYC 71 Winter 2023 Student Evaluation.pdf"><u>2023</u></a>]
                        [<a href="/static/docs/evals/PSYC 71 Fall 2022 Student Evaluation.pdf"><u>2022</u></a>]
                        [<a href="/static/docs/evals/PSYC 71 Fall 2021 Student Evaluation.pdf"><u>2021</u></a>]
                    <br>-> Instructor evaluation
                        [<a href="/static/docs/evals/PSYC 71 Winter 2023 Instructor Evaluation.pdf"><u>2023</u></a>]
                </li>
                <li><b>Introduction to Programming for Computational Social Science</b> (Summer 2021)
                    <br>-> Student evaluations
                        [<a href="/static/docs/evals/CSS 1 Summer 2021 Student Evaluation.pdf"><u>2021</u></a>]
                    <br>-> Instructor evaluation
                        [<a href="/static/docs/evals/CSS 1 Summer 2021 Instructor Evaluation.pdf"><u>2021</u></a>]
                </li>
                <li><b>Foundations of Cognitive Psychology</b> (Spring 2021)
                    <br>-> Student evaluations
                        [<a href="/static/docs/evals/PSYC 3 Spring 2021 Student Evaluation.pdf"><u>2021</u></a>]
                    <br>-> Instructor evaluation
                        [<a href="/static/docs/evals/PSYC 3 Spring 2021 Instructor Evaluation.pdf"><u>2021</u></a>]
                </li>
                <li><b>Psychology of Parenting</b> (Spring 2020)
                    <br>-> Student evaluations
                        [<a href="/static/docs/evals/PSYC 190 Spring 2020 Student Evaluation.pdf"><u>2020</u></a>]
                    <br>-> Instructor evaluation
                        [<a href="/static/docs/evals/PSYC 190 Spring 2020 Instructor Evaluation.pdf"><u>2020</u></a>]
                </li>
                <li><b>Introduction to Psychology</b> (Fall 2019 & Fall 2020)
                    <br>-> Student evaluations
                        [<a href="/static/docs/evals/PSYC 1 Fall 2020 Student Evaluation I.pdf"><u>2020</u></a>]
                        [<a href="/static/docs/evals/PSYC 1 Fall 2019 Student Evaluation.pdf"><u>2019</u></a>]
                    <br>-> Instructor evaluation
                        [<a href="/static/docs/evals/PSYC 1 Fall 2020 Instructor Evaluation.pdf"><u>2020</u></a>]
                        [<a href="/static/docs/evals/PSYC 1 Fall 2019 Instructor Evaluation.pdf"><u>2019</u></a>]
                </li>
                <li><b>Industrial and Organizational Psychology</b> (Summer 2019)
                    <br>-> Student evaluations
                        [<a href="/static/docs/evals/PSYC 178 Summer 2019 Student Evaluation.pdf"><u>2019</u></a>]
                    <br>-> Instructor evaluation
                        [<a href="/static/docs/evals/PSYC 178 Summer 2019 Instructor Evaluation.pdf"><u>2019</u></a>]
                </li>
                <li><b>Introduction to Developmental Psychology</b> (Winter 2018-19)
                    <br>-> Student evaluations
                        [<a href="/static/docs/evals/PSYC 101 Winter 2018-19 Student Evaluation.pdf"><u>2019</u></a>]
                </li>
            </ul>
        </div>
    </div>

</div>

{% endblock %}
