{% extends "index.html" %}
{% block content %}

<div class="teaching-bucket">
    <!-- Teaching -->
    <div id="teaching-header">
        <h1>Teaching</h1>
        <h2>Computational Social Science - Data and Model Programming</h2>
        <div class="teaching-overview">
            <h3>Overview</h3>
            <p>
                In Spring, 2022 I was an instructor for the second-quarter course in the
                Computational Social Science undergraduate core series.
            </p>
            <p>
                <b>This course was a broad overview of modeling principles found in
                data science and computational social science settings.</b>
            </p>
            <h3>Resources</h3>
                <p>
                    <li>
                        A copy of the course homepage, with syllabus and all lecture materials
                        [<a href="https://erik-brockbank.github.io/ucsd-css-002-sp2022.github.io/">here</a>]
                    </li>
                    <li>
                        The public github repo with the original lecture content
                        [<a href="https://github.com/erik-brockbank/css2_sp22-public">here</a>]
                    </li>
                    <li>
                        The private github repo with weekly assignments and labs is available upon request
                        (unless the requester seems suspiciously like a UCSD undergraduate...)
                    </li>
                    <!-- TODO upload lectures to youtube -->
                    <li>
                        The youtube channel with video recordings of all lectures [here] (COMING SOON!)
                    </li>
                     <!-- TODO upload evals and link them here -->
                </p>
        </div>
    </div>
    <!-- Teaching Assistant -->
    <div id="teaching-header">
        <h1>Teaching Assistant</h1>
        <div class="teaching-overview">
            <!-- TODO upload evals and link them here -->
            <p>Psychology Research Methods (Fall 2021)</p>
            <p>Introduction to Programming for Computational Social Science (Summer 2021)</p>
            <p>Foundations of Cognitive Psychology (Spring 2021)</p>
            <p>Psychology of Parenting (Spring 2020)</p>
            <p>Introduction to Psychology (Fall 2019 & Fall 2020)</p>
            <p>Industrial and Organizational Psychology (Summer 2019)</p>
            <p>Introduction to Developmental Psychology (Winter 2018-19)</p>
        </div>
    </div>

</div>

{% endblock %}
