
{% extends "index.html" %}
{% block content %}

<div class="writing-bucket"></div>

    <!-- Glassworks -->
    <div class="writing-item">
        <span class="writing-link">
            <img src="/static/docs/writing/glassworks-galley-cover.png" class="writing-img" alt="photo" style="width: 250px;">
            <p><a href="/static/docs/writing/glassworks-galley-poem.pdf"><em>Pea Soup II</em> (Spring, 2025)</a></p>
        </span>
    </div>

    <!-- Spillway -->
    <div class="writing-item">
        <span class="writing-link">
            <img src="/static/docs/writing/Spillway-cover.png" class="writing-img" alt="photo" style="width: 250px;">
            <p><a href="/static/docs/writing/Spillway.pdf"><em>Hummingbirds</em> (Summer, 2024)</a></p>
        </span>
    </div>

    <!-- Sugar House Review -->
    <div class="writing-item">
        <span class="writing-link">
            <img src="/static/docs/writing/Sugar_house-cover.png" class="writing-img" alt="photo" style="width: 250px;">
            <p><a href="/static/docs/writing/Sugar_house.pdf"><em>Andersen's Pea Soup</em> (Summer, 2024)</a></p>
        </span>
    </div>

    <!-- Bodega -->
    <div class="writing-item">
        <span class="writing-link">
            <img src="/static/docs/writing/Bodega-cover.png" class="writing-img" alt="photo" style="width: 250px;">
            <p>
                <a href="/static/docs/writing/Bodega.pdf"><em>Lab Notebook</em> (Spring, 2024)</a>
                [<a href="http://www.bodegamag.com/articles/709-lab-notebook">web version</a>]
            </p>
        </span>
    </div>

</div>

{% endblock %}